.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.py[cod]
*.egg-info

backend/.env
backend/__pycache__
backend/**/*.py[cod]
backend/**/__pycache__

opencad_viewport/.env
opencad_viewport/node_modules
opencad_viewport/dist
opencad_viewport/tsconfig.tsbuildinfo

*.log
